<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:x-on="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" th:href="@{images/favicon.ico}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{css/style_fileManage.css}">
    <title>檔案管理</title>
</head>
<body x-data="loadData(postDTOList)" x-init="init()">
<div class="header">
    <div class="header-title">檔案管理</div>
    <div class="header-links">
        <a th:href="@{forwardLeaderManagement}">團主管理</a>
        <a th:href="@{forwardPostManagement}">貼文管理</a>
        <a th:href="@{forwardTemplateManagement}">模板管理</a>
        <a th:href="@{backendLogout}">登出</a>
    </div>
</div>
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">

                <!-- Search Bar -->
                <div class="mb-3">
                    <div class="row">
                        <div style="margin-top: 10px" class="col-md-6">
                            <div class="form-group d-flex align-items-center">
                                <label class="input-group-text mr-2" for="keyword">關鍵字</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="keyword"
                                        placeholder="可搜尋團主名、貼文內容..."
                                />
                                <i class="fa fas fa-times clear-btn" onclick="clearKeyword()"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3" style="margin-top: 10px">
                        <div class="col d-flex justify-content-end">
                            <button
                                    class="btn btn-primary"
                                    type="button"
                                    x-on:click="search()"
                            >
                                搜尋
                            </button>
                        </div>
                    </div>
                </div>

<!--                放過往零打json選單-->
                <div class="row mt-3" style="margin-top: 10px; margin-bottom: 10px;">
                    <div class="col d-flex justify-content-end">
                        <select
                                class="form-select"
                                style="width: 200px;"
                                x-on:change="showDisposableData($event.target.value)"
                        >
                            <template x-for="date in getFileDateData()" :key="date">
                                <option :value="date" x-text="date"></option>
                            </template>
                        </select>
                    </div>
                </div>

                <div class="row mt-3" style="margin-top: 10px; margin-bottom: 10px;">
                    <div class="col-12 text-left">
                        <button type="button" class="btn btn-danger btn-sm btn-rounded" x-on:click="searchIssues();">疑慮文章</button>
                        <button type="button" class="btn btn-success btn-sm btn-rounded" x-on:click="textCompletion();">openAI</button>
                        <button type="button" class="btn btn-warning btn-sm btn-rounded" x-on:click="getUnfinishedFiles();">取得未完成資料</button>
                        <button x-show="postData && postData.length > 0" type="button" class="btn btn-success btn-sm btn-rounded" x-on:click="showTodayNewPostBtn();">今日新貼文 ([[${#lists.size(postData)}]])</button>
                    </div>
                </div>

                <div>
                    <table>
                        <thead>
                        <tr class="table100-head">
                            <th class="col">
                                <input type="checkbox" id="select-all" x-on:change="toggleSelectAll($event)">
                            </th>
                            <th class="col">編號</th>
                            <th class="col">團主名</th>
                            <th class="col">團主編號</th>
                            <th class="col">貼文內容</th>
                            <th class="col">動作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <template x-for="(item,index) in getData()" :key="index">
                            <tr>
                                <td class="th-select">
                                    <input type="checkbox" :value="item.userId" x-on:change="update($event)">
                                </td>
                                <td class="th-num" x-text="getItemNumber(index)"></td>
                                <td class="th-name" x-text="item.name"></td>
                                <td class="th-userId" x-text="item.userId"></td>
                                <td class="th-postContent" x-html="item.postContent"></td>
                                <td class="th-action">
                                    <button style="padding: 5px; margin: 5px" class="btn btn-primary" x-on:click="edit(item.userId)">編輯</button>
                                    <button style="padding: 5px; margin: 5px" class="btn btn-danger" x-on:click="deleteFile(item.userId)">刪除</button>
                                </td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                    <nav class="mt-5 mb-4" x-show="pageCount() > 1">
                        <ul class="pagination justify-content-center card-page">
                            <li class="page-item" :class="{ 'disabled' : pageNumber==0 }">
                                <a
                                        class="page-link page-prev"
                                        type="button"
                                        x-on:click="prevPage();"
                                        :disabled="pageNumber==0"
                                >
                                    <i class="fa fas fa-chevron-left"></i>
                                </a>
                            </li>
                            <li
                                    class="page-item disabled"
                                    :class="{ 'd-none' : pageCount() <= 4 || pageNumber == 0 || ( pageCount() > 4 && pageNumber == pageCount() ) }"
                            >
                                <a class="page-link">···</a>
                            </li>
                            <template x-for="(page,index) in pages()" :key="index">
                                <li
                                        class="page-item"
                                        :class="{ 'active' : index === pageNumber , 'd-none' : pageCount() > 4 && ( (index < pageNumber && pageNumber < pageCount() -4) || (index < pageCount() -4 && pageNumber >= pageCount() -4) || index >= pageNumber+4 ) }"
                                >
                                    <a
                                            class="page-link"
                                            type="button"
                                            x-on:click="viewPage(index);"
                                            x-text="index+1"
                                    ></a>
                                </li>
                            </template>
                            <li
                                    class="page-item disabled"
                                    :class="{ 'd-none' : pageCount() <= 4 || pageNumber >= pageCount() -4}"
                            >
                                <a class="page-link">···</a>
                            </li>
                            <li
                                    class="page-item"
                                    :class="{ 'disabled' : pageNumber >= pageCount() -1 }"
                            >
                                <a
                                        class="page-link page-next"
                                        type="button"
                                        x-on:click="nextPage();"
                                        :disabled="pageNumber >= pageCount() -1"
                                >
                                    <i class="fa fas fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- editModal -->
<div class="modal fade" id="editModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"></h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="editName">團主名</label>
                    <input type="text" class="form-control" id="editName" readonly>
                </div>
                <div class="form-group">
                    <label for="editUserId">圖主編號</label>
                    <input type="text" class="form-control" id="editUserId" readonly>
                </div>
                <div class="form-group">
                    <label for="editContent">貼文內容</label>
                    <textarea class="form-control" id="editContent" style="height: 150px;"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" x-on:click="closeModal()">關閉</button>
                <button type="button" class="btn btn-primary" x-on:click="save()">儲存</button>
            </div>
        </div>
    </div>
</div>

<!-- postModal -->
<div class="modal fade" id="postModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="postModal" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新貼文</h5>
            </div>
            <div style="overflow-x: auto;" class="modal-body">
                <table>
                    <thead>
                    <tr class="table100-head">
                        <th class="col">編號</th>
                        <th class="col">團主名</th>
                        <th class="col">團主編號</th>
                        <th class="col">地點</th>
                        <th class="col">時間</th>
                        <th class="col">費用</th>
                        <th class="col">程度</th>
                        <th class="col">用球</th>
                        <th class="col">冷氣</th>
                        <th class="col">停車資訊</th>
                        <th class="col">聯絡方式</th>
                        <th class="col">創立時間</th>
                        <th class="col">動作</th>
                    </tr>
                    </thead>
                    <tbody>

                        <template x-for="(item,index) in getPostData()" :key="index">

                            <tr>
                                <td class="th-num" x-text="getItemNumber(index)"></td>
                                <td class="th-name" x-text="item.name"></td>
                                <td class="th-userId" x-text="item.userId"></td>
                                <td class="th-place" x-text="item.place"></td>
                                <td class="th-time" x-text="item.time"></td>
                                <td class="th-fee" x-text="item.fee"></td>
                                <td class="th-level" x-text="item.level"></td>
                                <td
                                        class="th-brand"
                                        x-text="item.brand === '' ? '-' : item.brand"
                                ></td>
                                <td
                                        class="th-airConditioner"
                                        x-text="item.airConditioner == '未標示' ? '-' : (item.airConditioner == '有冷氣' ? 'Y' : 'N')"
                                ></td>
                                <td
                                        class="th-parkInfo"
                                        x-text="item.parkInfo === '' ? '-' : item.parkInfo"
                                ></td>
                                <td class="th-contact" x-text="item.contact"></td>
                                <td class="th-creationDate" x-text="item.creationDate"></td>
                                <td class="th-action">
                                    <button style="padding: 5px; margin: 5px" class="btn btn-primary" x-on:click="editPost(item.id)">編輯</button>
                                    <button style="padding: 5px; margin: 5px" class="btn btn-danger" x-on:click="deletePost(item.id)">刪除</button>
                                </td>
                            </tr>

                        </template>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" x-on:click="closePostModal()">關閉</button>
            </div>
        </div>
    </div>
</div>

<!-- editPostModal -->
<div class="modal fade" id="editPostModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">編輯貼文</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="editName_p">團主名</label>
                    <input type="text" class="form-control" id="editName_p">
                </div>
                <div class="form-group">
                    <label for="editUserId_p">圖主編號</label>
                    <input type="text" class="form-control" id="editUserId_p" >
                </div>
                <div class="form-group">
                    <label for="editPlace_p">地點</label>
                    <input type="text" class="form-control" id="editPlace_p">
                </div>
                <div class="form-group">
                    <label for="editTime_p">時間</label>
                    <input type="text" class="form-control" id="editTime_p" >
                </div>
                <div class="form-group">
                    <label for="editFee_p">費用</label>
                    <input type="text" class="form-control" id="editFee_p">
                </div>
                <div class="form-group">
                    <label for="editLevel_p">程度</label>
                    <input type="text" class="form-control" id="editLevel_p" >
                </div>
                <div class="form-group">
                    <label for="editBrand_p">用球</label>
                    <input type="text" class="form-control" id="editBrand_p" >
                </div>
                <div class="form-group">
                    <label for="editAirConditioner_p">冷氣</label>
                    <select class="form-control" id="editAirConditioner_p">
                        <option value="no_mention">未標示</option>
                        <option value="present">有</option>
                        <option value="absent">無</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="editParkInfo_p">停車資訊</label>
                    <input type="text" class="form-control" id="editParkInfo_p">
                </div>
                <div class="form-group">
                    <label for="editContact_p">聯絡方式</label>
                    <input type="text" class="form-control" id="editContact_p" >
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" x-on:click="closeEditPostModal()">關閉</button>
                <button type="button" class="btn btn-primary" x-on:click="savePost()">儲存</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{js/alpine.2.8.2.min.js}"></script>
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:inline="javascript">
      const postDTOList = /*[[${postDTOList}]]*/
      const sortedDateList = /*[[${sortedDateList}]]*/
      let passId;   // for file edit
      let passPostId;   // for post edit
      let selectedFiles = [];   //裝需要轉換成txt檔的文章
      let fileDateData = /*[[${today}]]*/; //當前選擇的檔案日期，給findFileByUserId API使用
      let postData = /*[[${postData}]]*/    //喂openAI後產生的今日新貼文

        function loadData(eleData) {
          return {
            pageNumber: 0,
            size: 30,
            total: "",
            startDate: "",
            endDate: "",
            myForData: eleData,
            postData: postData,

            init() {
              const today = new Date();

              this.startDate = today.toISOString().split("T")[0];
              this.endDate = today.toISOString().split("T")[0];
            },
            getData() {
              const start = this.pageNumber * this.size,
                end = start + this.size;
              let filterData = this.myForData;
              this.total = filterData.length;
              return filterData.slice(start, end);
            },
            getFileDateData (){
              return sortedDateList;
            },
            getPostData (){
              return this.postData;
            },
            pages() {
              return Array.from({
                length: Math.ceil(this.total / this.size),
              });
            },
            nextPage() {
              clearCheckBox();
              this.pageNumber++;
            },
            prevPage() {
              clearCheckBox();
              this.pageNumber--;
            },
            pageCount() {
              return Math.ceil(this.total / this.size);
            },
            viewPage(index) {
              clearCheckBox();
              this.pageNumber = index;
            },
            getItemNumber(index) {
              // 返回基於當前頁碼和每頁項目數的編號
              return this.pageNumber * this.size + index + 1;
            },
            toggleSelectAll(event) {
              const isChecked = event.target.checked;
              const checkboxes = $('tbody input[type="checkbox"]');
              if (isChecked) {
                selectedFiles = [];
                checkboxes.each((index, checkbox) => {
                  checkbox.checked = true;
                  selectedFiles.push(checkbox.value);
                });
              } else {
                checkboxes.each((index, checkbox) => {
                  checkbox.checked = false;
                });
                selectedFiles = [];
              }
            },
            update(event) {
              const checkbox = event.target;
              const value = checkbox.value;
              if (checkbox.checked) {
                if (!selectedFiles.includes(value)) {
                    selectedFiles.push(value);
                }
              } else {
                selectedFiles = selectedFiles.filter(item => item !== value);
              }
            },
            search() {
              let _this = this;
              let data = {};
              let startDate = $("#startDate").val() + " 00:00:00";
              let endDate = $("#endDate").val() + " 23:59:59";
              let keyword = $("#keyword").val();
              data.startDate = startDate;
              data.endDate = endDate;
              data.keyword = keyword;
              $.ajax({
                url: "searchFiles/" + fileDateData,
                type: "post",
                dataType: "json",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  if (response.code == "C000"){
                    _this.myForData = response.data;
                  }
                },
              });
            },
            edit(userId){
              passId = userId;
              $.ajax({
                url: "findFileByUserId/" + userId + "/" + fileDateData,
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  if (response.code = "C000"){
                    const file = response.data;
                    $("#editName").val(file.name);
                    $("#editUserId").val(file.userId);
                    $("#editContent").val(file.postContent);
                    $("#editModal").modal('show');
                  } else if (response.code = "C004"){
                    alert("查無檔案內貼文");
                  }
                },
              });
            },
            deleteFile(userId){
              $.ajax({
                url: "deleteFile/" + userId + "/" + fileDateData,
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  if (response.code == "C000"){
                    alert('刪除成功')
                    location.reload();
                  }
                },
              });
            },
            save(){
              let data = {};
              data.name = $("#editName").val();
              data.userId = $("#editUserId").val();
              data.postContent = $("#editContent").val();
              $.ajax({
                url: "editFile/" + fileDateData,
                type: "post",
                dataType: "json",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  if (response.code == "C000"){
                    alert('儲存成功')
                    location.reload();
                  }
                },
              });
            },
            closeModal(){
              $("#editModal").modal('hide')
              passId = '';
              $("#editName").val('');
              $("#editUserId").val('');
              $("#editTime").val('');
              $("#editPlace").val('');
              $("#editFee").val('');
              $("#editLevel").val('');
              $("#editBrand").val('');
              $("#editParkInfo").val('');
              $("#editContact").val('');
              $("#editAirConditioner").val('');
              $("#modalLabel").text('');
              document.getElementById('editName').readOnly = false;
              document.getElementById('editUserId').readOnly = false;
            },
            searchIssues (){
              let _this = this;
              $.ajax({
                url: "searchIssues/" + fileDateData,
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  if (response.code == "C000"){
                    const postDTOList = response.data.postDTOList;
                    const keywords = response.data.keywords;
                    const issueData = postDTOList.map(issue => {
                      issue.postContent = _this.highlightKeywords(issue.postContent, keywords);
                        return issue;
                      });
                    _this.myForData = issueData;
                  }
                },
              });
            },
            highlightKeywords(text, keywords) {
                keywords.split('|').forEach(keyword => {
                    const regex = new RegExp(keyword, 'g');
                    text = text.replace(regex, `<span style="background-color: yellow; font-weight: bold; font-size: 1.25rem; color: black;">${keyword}</span>`);
                });
                return text;
            },
            textCompletion (){
              if (selectedFiles.length == 0){
                alert("至少選擇一則檔案！")
                return;
              }
              let _this = this;
              $.ajax({
                url: "convertToPosts/" + fileDateData,
                type: "post",
                dataType: "json",
                data: JSON.stringify(selectedFiles),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  if (response.code == "C000"){
                    alert("完成")
                  } else {
                    alert("例外發生")
                  }
                },
              });
            },
            getUnfinishedFiles (){
              let _this = this;
              $.ajax({
                url: "getUnfinishedFiles/" + fileDateData,
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  if (response.code == "C005"){
                    _this.myForData = response.data;
                  } else if (response.code == "C000"){
                    alert("今日資料匯入完成！")
                  }
                },
              });
            },
            showDisposableData (date){
              let _this = this;
              $.ajax({
                url: "showDisposableData/" + date,
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  if (response.code == "C000"){
                    _this.pageNumber = 0;
                    clearCheckBox();
                    fileDateData = date;
                    _this.myForData = response.data;
                  }
                },
              });
            },
            closePostModal (){
              $("#postModal").modal('hide');
            },
            closeEditPostModal (){
              $("#editPostModal").modal('hide');
              passPostId = '';
              $("#editName_p").val('');
              $("#editUserId_p").val('');
              $("#editTime_p").val('');
              $("#editPlace_p").val('');
              $("#editFee_p").val('');
              $("#editLevel_p").val('');
              $("#editBrand_p").val('');
              $("#editParkInfo_p").val('');
              $("#editContact_p").val('');
              $("#editAirConditioner_p").val('');
              $("#modalLabel_p").text('');
              document.getElementById('editName_p').readOnly = false;
              document.getElementById('editUserId_p').readOnly = false;
            },
            showTodayNewPostBtn (){
              $("#postModal").modal('show');
            },
            editPost(id){
              passPostId = id;
              $.ajax({
                url: "findPostById/" + id,
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  const post = response.data;
                  $("#editName_p").val(post.name);
                  $("#editUserId_p").val(post.userId);
                  $("#editTime_p").val(post.startTime + " ～ " + post.endTime);
                  $("#editPlace_p").val(post.place);
                  $("#editFee_p").val(post.fee);
                  $("#editLevel_p").val(post.level);
                  $("#editBrand_p").val(post.brand);
                  $("#editParkInfo_p").val(post.parkInfo);
                  $("#editContact_p").val(post.contact);
                  $("#editAirConditioner_p").val(post.airConditioner);
                  $("#modalLabel_p").text('編輯貼文');
                  document.getElementById('editName_p').readOnly = true;
                  document.getElementById('editUserId_p').readOnly = true;
                  $("#editPostModal").modal('show');
                },
              });
            },
            deletePost(id){
              $.ajax({
                url: "deletePost/" + id,
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  alert('刪除成功')
                  location.reload();
                },
              });
            },
            savePost(){
              let data = {};
              data.id = passPostId;
              data.name = $("#editName_p").val();
              data.userId = $("#editUserId_p").val();
              data.place = $("#editPlace_p").val();
              let times = $("#editTime_p").val().split(" ～ ");
              data.startTime = times[0];
              data.endTime = times[1];
              data.fee = $("#editFee_p").val();
              data.level = $("#editLevel_p").val();
              data.brand = $("#editBrand_p").val();
              data.airConditioner = $("#editAirConditioner_p").val();
              data.parkInfo = $("#editParkInfo_p").val();
              data.contact = $("#editContact_p").val();
              $.ajax({
                url: "savePost",
                type: "post",
                dataType: "json",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  alert('儲存成功')
                  location.reload();
                },
              });
            },
          };
        };

        function openSaveModal(){
          $("#modalLabel").text('新增貼文');
          $("#editModal").modal('show');
        }

        function clearKeyword() {
          $('#keyword').val('');
        }

        function clearCheckBox() {
          selectedFiles = [];
          $("#select-all").prop("checked", false);
          const checkboxes = $('tbody input[type="checkbox"]');
          checkboxes.each((index, checkbox) => {
            checkbox.checked = false;
          });
        }
    </script>
</body>
</html>
