<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:x-on="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" th:href="@{images/favicon.ico}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{css/style_leaderManage.css}">
    <title>團主管理</title>
</head>
<body x-data="loadData(leaderList)" x-init="init()">
<div class="header">
    <div class="header-title">團主管理</div>
    <div class="header-links">
        <a th:href="@{forwardPostManagement}">貼文管理</a>
        <a th:href="@{forwardFileManagement}">檔案管理</a>
        <a th:href="@{forwardTemplateManagement}">模板管理</a>
        <a th:href="@{backendLogout}">登出</a>
    </div>
</div>
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">

                <!-- Search Bar -->
                <div class="mb-3">
                    <div class="row">
                        <div style="margin-top: 10px" class="col-md-3">
                            <div class="form-group d-flex align-items-center">
                                <label class="input-group-text mr-2" for="startDate">開始日期</label>
                                <input
                                        type="date"
                                        class="form-control"
                                        id="startDate"
                                        x-model="startDate"
                                />
                            </div>
                        </div>
                        <div style="margin-top: 10px" class="col-md-3">
                            <div class="form-group d-flex align-items-center">
                                <label class="input-group-text mr-2" for="endDate">結束日期</label>
                                <input
                                        type="date"
                                        class="form-control"
                                        id="endDate"
                                        x-model="endDate"
                                />
                            </div>
                        </div>
                        <div style="margin-top: 10px" class="col-md-6">
                            <div class="form-group d-flex align-items-center">
                                <label class="input-group-text mr-2" for="keyword">關鍵字</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="keyword"
                                        placeholder="可搜尋名稱、編號..."
                                />
                                <i class="fa fas fa-times clear-btn" onclick="clearKeyword()"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3" style="margin-top: 10px">
                        <div class="col d-flex justify-content-end">
                            <button
                                    class="btn btn-primary"
                                    type="button"
                                    x-on:click="search()"
                            >
                                搜尋
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mt-3" style="margin-top: 10px; margin-bottom: 10px;">
                    <div class="col d-flex">
                        <button type="button" class="btn btn-primary" onclick="openSaveModal();">新增團主</button>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <select
                                class="form-select"
                                style="width: 200px;"
                                x-on:change="handleSelection($event.target.value)"
                        >
                            <option value="">請選擇</option>
                            <option value="todayNewLeaders">今日新團主</option>
                            <option value="issueList">問題名單</option>
                            <option value="mostActive">最常發言</option>
                        </select>
                    </div>
                </div>

                <div>
                    <table>
                        <thead>
                        <tr class="table100-head">
                            <th class="col">姓名</th>
                            <th class="col">會員編號</th>
                            <th class="col">社團名稱</th>
                            <th class="col">社團編號</th>
                            <th class="col">個人連結</th>
                            <th class="col">創立時間</th>
                            <th class="col">動作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <template x-for="(item,index) in getData()" :key="index">
                            <tr>
                                <td class="th-name" x-text="item.name"></td>
                                <td class="th-userId" x-text="item.userId"></td>
                                <td class="th-groupName" x-text="item.groupName"></td>
                                <td class="th-groupId" x-text="item.groupId"></td>
                                <td class="th-link" x-text="item.link"></td>
                                <td class="th-creationDate" x-text="item.creationDate"></td>
                                <td class="th-action">
                                    <button style="padding: 5px; margin: 5px" class="btn btn-primary" x-on:click="edit(item.id)">編輯</button>
                                    <button style="padding: 5px; margin: 5px" class="btn btn-danger" x-on:click="deleteLeader(item.id)">刪除</button>
                                </td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                    <nav class="mt-5 mb-4" x-show="pageCount() > 1">
                        <ul class="pagination justify-content-center card-page">
                            <li class="page-item" :class="{ 'disabled' : pageNumber==0 }">
                                <a
                                        class="page-link page-prev"
                                        type="button"
                                        x-on:click="prevPage();"
                                        :disabled="pageNumber==0"
                                >
                                    <i class="fa fas fa-chevron-left"></i>
                                </a>
                            </li>
                            <li
                                    class="page-item disabled"
                                    :class="{ 'd-none' : pageCount() <= 4 || pageNumber == 0 || ( pageCount() > 4 && pageNumber == pageCount() ) }"
                            >
                                <a class="page-link">···</a>
                            </li>
                            <template x-for="(page,index) in pages()" :key="index">
                                <li
                                        class="page-item"
                                        :class="{ 'active' : index === pageNumber , 'd-none' : pageCount() > 4 && ( (index < pageNumber && pageNumber < pageCount() -4) || (index < pageCount() -4 && pageNumber >= pageCount() -4) || index >= pageNumber+4 ) }"
                                >
                                    <a
                                            class="page-link"
                                            type="button"
                                            x-on:click="viewPage(index);"
                                            x-text="index+1"
                                    ></a>
                                </li>
                            </template>
                            <li
                                    class="page-item disabled"
                                    :class="{ 'd-none' : pageCount() <= 4 || pageNumber >= pageCount() -4}"
                            >
                                <a class="page-link">···</a>
                            </li>
                            <li
                                    class="page-item"
                                    :class="{ 'disabled' : pageNumber >= pageCount() -1 }"
                            >
                                <a
                                        class="page-link page-next"
                                        type="button"
                                        x-on:click="nextPage();"
                                        :disabled="pageNumber >= pageCount() -1"
                                >
                                    <i class="fa fas fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- editModal -->
<div class="modal fade" id="editModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"></h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="editName">姓名</label>
                    <input type="text" class="form-control" id="editName">
                </div>
                <div class="form-group">
                    <label for="editLink">連結</label>
                    <input type="text" class="form-control" id="editLink" >
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" x-on:click="closeModal()">關閉</button>
                <button type="button" class="btn btn-primary" x-on:click="save()">儲存</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{js/alpine.2.8.2.min.js}"></script>
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:inline="javascript">
      const leaderList = /*[[${leaderList}]]*/
      let passId;   // for edit

        function loadData(eleData) {
          return {
            pageNumber: 0,
            size: 20,
            total: "",
            startDate: "",
            endDate: "",
            myForData: eleData,

            init() {
              const today = new Date();

              this.startDate = today.toISOString().split("T")[0];
              this.endDate = today.toISOString().split("T")[0];
            },
            getData() {
              const start = this.pageNumber * this.size,
                end = start + this.size;
              let filterData = this.myForData;
              this.total = filterData.length;
              return filterData.slice(start, end);
            },
            pages() {
              return Array.from({
                length: Math.ceil(this.total / this.size),
              });
            },
            nextPage() {
              this.pageNumber++;
            },
            prevPage() {
              this.pageNumber--;
            },
            pageCount() {
              return Math.ceil(this.total / this.size);
            },
            viewPage(index) {
              this.pageNumber = index;
            },
            search() {
              let _this = this;
              let data = {};
              let startDate = $("#startDate").val() + " 00:00:00";
              let endDate = $("#endDate").val() + " 23:59:59";
              let keyword = $("#keyword").val();
              data.startDate = startDate;
              data.endDate = endDate;
              data.keyword = keyword;
              $.ajax({
                url: "leaderSearch",
                type: "post",
                dataType: "json",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  console.log(response);
                  _this.myForData = response.data;
                },
              });
            },
            edit(id){
              passId = id;
              $.ajax({
                url: "findLeaderById/" + id,
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  const leader = response.data;
                  $("#editName").val(leader.name);
                  $("#editLink").val(leader.link);
                  $("#modalLabel").text('編輯團主資訊');
                  document.getElementById('editLink').readOnly = true;
                  $("#editModal").modal('show');
                },
              });
            },
            deleteLeader(id){
              $.ajax({
                url: "deleteLeader/" + id,
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  alert('刪除成功')
                  location.reload();
                },
              });
            },
            save(){
              let data = {};
              data.id = passId;
              data.name = $("#editName").val();
              data.link = $("#editLink").val();
              $.ajax({
                url: "saveLeader",
                type: "post",
                dataType: "json",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  alert('儲存成功')
                  location.reload();
                },
              });
            },
            closeModal(){
              $("#editModal").modal('hide')
              passId = '';
              $("#editName").val('');
              $("#editLink").val('');
              document.getElementById('editLink').readOnly = false;
            },
          };
        };

        function openSaveModal(){
            $("#modalLabel").text('新增團主資訊');
            $("#editModal").modal('show');
        }


        function handleSelection(value) {
            switch (value) {
                case 'todayNewLeaders':
                    todayNewLeaders();
                    break;
                case 'issueList':
                    issueList();
                    break;
                case 'mostActive':
                    mostActive();
                    break;
            }
        }

        function clearKeyword() {
            $('#keyword').val('');
        }
    </script>
</body>
</html>
