<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="icon" type="image/png" th:href="@{images/favicon.ico}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}" />
    <link
            href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" th:href="@{css/style_login.css}" />
</head>
<body>
<div class="container login-container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="login-form">
                <h3 class="text-center">登入</h3>
                <div class="form-group">
                    <label for="account">帳號</label>
                    <input value="admin" type="text" class="form-control" id="account" placeholder="請輸入帳號">
                </div>
                <div style="margin-top: 10px" class="form-group">
                    <label for="password">密碼</label>
                    <input value="admin" type="text" class="form-control" id="password" placeholder="請輸入密碼">
                </div>
                <div style="margin-top: 10px" class="col d-flex justify-content-end">
                    <button type="button" id="loginBtn" class="btn btn-primary btn-block">登入</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/alpine.2.8.2.min.js}"></script>
<script th:inline="javascript">

    $(function(){
        $("#loginBtn").click(function(){
            let data = {};
            data.account = $("#account").val();
            data.password = $("#password").val();
            $.ajax({
                url: "loginCheck",
                type: "post",
                dataType: "json",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response.code == "C000"){
                        location.href = "forwardLeaderManagement";
                    } else {
                        alert('帳號或密碼錯誤！')
                    }
                },
            });
        })
    })
</script>
</body>
</html>
