<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:x-on="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" th:href="@{images/favicon.ico}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{css/style_postManage.css}">
    <title>貼文管理</title>
</head>
<body x-data="loadData(postDTOList)" x-init="init()">
<div class="header">
    <div class="header-title">貼文管理</div>
    <div class="header-links">
        <a th:href="@{forwardLeaderManagement}">團主管理</a>
        <a th:href="@{forwardFileManagement}">檔案管理</a>
        <a th:href="@{forwardTemplateManagement}">模板管理</a>
        <a th:href="@{backendLogout}">登出</a>
    </div>
</div>
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">

                <!-- Search Bar -->
                <div class="mb-3">
                    <div class="row">
                        <div style="margin-top: 10px" class="col-md-3 col-12 mb-3">
                            <div class="form-group d-flex align-items-center">
                                <label class="input-group-text mr-2" for="startDate">開始日期</label>
                                <input
                                        type="date"
                                        class="form-control"
                                        id="startDate"
                                        x-model="startDate"
                                />
                            </div>
                        </div>
                        <div style="margin-top: 10px" class="col-md-3 col-12 mb-3">
                            <div class="form-group d-flex align-items-center">
                                <label class="input-group-text mr-2" for="endDate">結束日期</label>
                                <input
                                        type="date"
                                        class="form-control"
                                        id="endDate"
                                        x-model="endDate"
                                />
                            </div>
                        </div>
                        <div style="margin-top: 10px" class="col-md-3 col-12 mb-3">
                            <div class="form-group d-flex align-items-center">
                                <label class="input-group-text mr-2" for="labelCourt">條件</label>
                                <select id="labelCourt" class="form-control">
                                    <option value="All">請選擇</option>
                                    <option value="false">未加入</option>
                                    <option value="true">已加入</option>
                                </select>
                            </div>
                        </div>
                        <div style="margin-top: 10px" class="col-md-3 col-12 mb-3">
                            <div class="form-group d-flex align-items-center">
                                <label class="input-group-text mr-2" for="keyword">關鍵字</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="keyword"
                                        placeholder="可搜尋團主名、地點、用球..."
                                />
                                <i class="fa fas fa-times clear-btn" onclick="clearKeyword()"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3" style="margin-top: 10px">
                        <div class="col d-flex justify-content-end">
                            <button
                                    class="btn btn-primary"
                                    type="button"
                                    x-on:click="search()"
                            >
                                搜尋
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mt-3" style="margin-top: 10px; margin-bottom: 10px;">
                    <div class="col d-flex">
                        <button type="button" class="btn btn-primary" onclick="openSaveModal();" disabled>新增貼文</button>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <select
                                class="form-select"
                                style="width: 200px;"
                                x-on:change="handleSelection($event.target.value)"
                        >
                            <option value="">請選擇</option>
                            <option value="todayNewPosts">今日新貼文</option>
                        </select>
                    </div>
                </div>

                <div class="row mt-3" style="margin-top: 10px; margin-bottom: 10px;">
                    <div class="col d-flex">
                        <button type="button" class="btn btn-danger btn-sm btn-rounded me-2" x-on:click="issueFee();">疑慮費用</button>
                        <button type="button" class="btn btn-warning btn-sm btn-rounded me-2" x-on:click="searchSamePosts();">相同貼文</button>
                        <button type="button" class="btn btn-success btn-sm btn-rounded me-2" x-on:click="autoMate();">一鍵配對 (配對用)</button>
                        <button type="button" class="btn btn-success btn-sm btn-rounded me-2" x-on:click="notMatchedPosts();">未完成配對貼文 (配對用)</button>
                        <button type="button" class="btn btn-success btn-sm btn-rounded me-2" x-on:click="openCourtModal();">選擇球館 (配對用)</button>
                        <button type="button" class="btn btn-success btn-sm btn-rounded" x-on:click="matePostsAndCourt();">貼文球館配對 (配對用)</button>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <button type="button" class="btn btn-danger btn-sm btn-rounded" x-on:click="deleteAllPosts();">全部刪除</button>  <!-- x-show="selectedFiles.length > 0" -->
                    </div>
                </div>

                <div class="row mt-3" style="margin-top: 10px; margin-bottom: 10px;">
                    <span id="choose_court_id" style="color: black; background-color: yellow"></span>
                </div>

                <div class="table-responsive custom-table-responsive" style="overflow-x: auto;">
                    <table>
                        <thead>
                        <tr class="table100-head">
                            <th class="col">
                                <input type="checkbox" id="select-all" x-on:change="toggleSelectAll($event)">
                            </th>
                            <th class="col">編號</th>
                            <th class="col">團主名</th>
                            <th class="col">團主編號</th>
                            <th class="col">地點</th>
                            <th class="col">時間</th>
                            <th class="col">費用</th>
                            <th class="col">程度</th>
                            <th class="col">用球</th>
                            <th class="col">冷氣</th>
                            <th class="col">停車資訊</th>
                            <th class="col">聯絡方式</th>
                            <th class="col">創立時間</th>
                            <th class="col">動作</th>
                        </tr>
                        </thead>
                        <tbody>
                            <template x-for="(item,index) in getData()" :key="index">
                                <tr>
                                    <td class="th-select">
                                        <input type="checkbox" :value="item.id" x-on:change="update($event)">
                                    </td>
                                    <td class="th-num" x-text="getItemNumber(index)"></td>
                                    <td class="th-name" x-text="item.name"></td>
                                    <td class="th-userId" x-text="item.userId"></td>
                                    <td class="th-place" x-text="item.place"></td>
                                    <td class="th-time" x-text="item.time"></td>
                                    <td class="th-fee" x-text="item.fee"></td>
                                    <td class="th-level" x-text="item.level"></td>
                                    <td
                                            class="th-brand"
                                            x-text="item.brand === '' ? '-' : item.brand"
                                    ></td>
                                    <td
                                            class="th-airConditioner"
                                            x-text="item.airConditioner == '未標示' ? '-' : (item.airConditioner == '有冷氣' ? 'Y' : 'N')"
                                    ></td>
                                    <td
                                            class="th-parkInfo"
                                            x-text="item.parkInfo === '' ? '-' : item.parkInfo"
                                    ></td>
                                    <td class="th-contact" x-text="item.contact"></td>
                                    <td class="th-creationDate" x-text="item.creationDate"></td>
                                    <td class="th-action">
                                        <button style="padding: 5px; margin: 5px" class="btn btn-primary" x-on:click="edit(item.id)">編輯</button>
                                        <button style="padding: 5px; margin: 5px" class="btn btn-danger" x-on:click="deletePost(item.id)">刪除</button>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                    <nav class="mt-5 mb-4" x-show="pageCount() > 1">
                        <ul class="pagination justify-content-center card-page">
                            <li class="page-item" :class="{ 'disabled' : pageNumber==0 }">
                                <a
                                        class="page-link page-prev"
                                        type="button"
                                        x-on:click="prevPage();"
                                        :disabled="pageNumber==0"
                                >
                                    <i class="fa fas fa-chevron-left"></i>
                                </a>
                            </li>
                            <li
                                    class="page-item disabled"
                                    :class="{ 'd-none' : pageCount() <= 4 || pageNumber == 0 || ( pageCount() > 4 && pageNumber == pageCount() ) }"
                            >
                                <a class="page-link">···</a>
                            </li>
                            <template x-for="(page,index) in pages()" :key="index">
                                <li
                                        class="page-item"
                                        :class="{ 'active' : index === pageNumber , 'd-none' : pageCount() > 4 && ( (index < pageNumber && pageNumber < pageCount() -4) || (index < pageCount() -4 && pageNumber >= pageCount() -4) || index >= pageNumber+4 ) }"
                                >
                                    <a
                                            class="page-link"
                                            type="button"
                                            x-on:click="viewPage(index);"
                                            x-text="index+1"
                                    ></a>
                                </li>
                            </template>
                            <li
                                    class="page-item disabled"
                                    :class="{ 'd-none' : pageCount() <= 4 || pageNumber >= pageCount() -4}"
                            >
                                <a class="page-link">···</a>
                            </li>
                            <li
                                    class="page-item"
                                    :class="{ 'disabled' : pageNumber >= pageCount() -1 }"
                            >
                                <a
                                        class="page-link page-next"
                                        type="button"
                                        x-on:click="nextPage();"
                                        :disabled="pageNumber >= pageCount() -1"
                                >
                                    <i class="fa fas fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- editModal -->
<div class="modal fade" id="editModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"></h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="editName">團主名</label>
                    <input type="text" class="form-control" id="editName">
                </div>
                <div class="form-group">
                    <label for="editUserId">圖主編號</label>
                    <input type="text" class="form-control" id="editUserId" >
                </div>
                <div class="form-group">
                    <label for="editPlace">地點</label>
                    <input type="text" class="form-control" id="editPlace">
                </div>
                <div class="form-group">
                    <label for="editTime">時間</label>
                    <input type="text" class="form-control" id="editTime" >
                </div>
                <div class="form-group">
                    <label for="editFee">費用</label>
                    <input type="text" class="form-control" id="editFee">
                </div>
                <div class="form-group">
                    <label for="editLevel">程度</label>
                    <input type="text" class="form-control" id="editLevel" >
                </div>
                <div class="form-group">
                    <label for="editBrand">用球</label>
                    <input type="text" class="form-control" id="editBrand" >
                </div>
                <div class="form-group">
                    <label for="editAirConditioner">冷氣</label>
                    <select class="form-control" id="editAirConditioner">
                        <option value="no_mention">未標示</option>
                        <option value="present">有</option>
                        <option value="absent">無</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="editParkInfo">停車資訊</label>
                    <input type="text" class="form-control" id="editParkInfo">
                </div>
                <div class="form-group">
                    <label for="editContact">聯絡方式</label>
                    <input type="text" class="form-control" id="editContact" >
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" x-on:click="closeCourtModal()">關閉</button>
                <button type="button" class="btn btn-primary" x-on:click="save()">儲存</button>
            </div>
        </div>
    </div>
</div>

<!-- courtModal -->
<div class="modal fade" id="courtModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="courtModal" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="mb-4 mb-md-0" style="color: black">選擇球館</div>
            </div>
            <div class="modal-header">
                <button class="btn btn-primary me-2 d-flex justify-content-end" type="button" x-on:click="openSaveCourtBtn()">新增球館</button>
            </div>
            <div class="d-flex align-items-center">
                <input type="text" class="form-control me-2 ms-2" id="courtKeyword" placeholder="可搜尋場館名、地址...">
                <button class="btn btn-primary me-2" type="button" x-on:click="searchCourt()">搜尋</button>
            </div>
            <div style="overflow-x: auto;" class="modal-body">
                <table>
                    <thead>
                    <tr class="table100-head">
                        <th class="col">編號</th>
                        <th class="col">動作</th>
                        <th class="col">場館名</th>
                        <th class="col">地址</th>
                        <th class="col">經度</th>
                        <th class="col">緯度</th>
                        <th class="col">貼文編號集</th>
                        <th class="col">創立時間</th>
                    </tr>
                    </thead>
                    <tbody>

                    <template x-for="(item,index) in getCourtData()" :key="index">

                        <tr>
                            <td class="th-num" x-text="getItemNumber(index)"></td>
                            <td class="th-action">
                                <button style="padding: 5px; margin: 5px" class="btn btn-primary" x-on:click="chooseCourt(item.id, item.name)">選擇</button>
                            </td>
                            <td class="th-name" x-text="item.name"></td>
                            <td class="th-address" x-text="item.address"></td>
                            <td class="th-latitude" x-text="item.latitude"></td>
                            <td class="th-longitude" x-text="item.longitude"></td>
                            <td class="th-postId" x-html="item.postId.split(',').join('<br>')"></td>
                            <td class="th-creationDate" x-text="item.creationDate"></td>
                        </tr>

                    </template>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary fs-15px" title="關閉" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<!-- saveCourtModal -->
<div class="modal fade" id="saveCourtModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="saveCourtModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" style="color: black">新增球館</div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="courtName">球館名稱</label>
                    <input type="text" class="form-control" id="courtName">
                </div>
                <div class="form-group">
                    <label for="courtAddress">地址</label>
                    <input type="text" class="form-control" id="courtAddress" >
                </div>
                <div class="form-group">
                    <label for="courtLongitude">經度</label>
                    <input type="text" class="form-control" id="courtLongitude">
                </div>
                <div class="form-group">
                    <label for="courtLatitude">緯度</label>
                    <input type="text" class="form-control" id="courtLatitude" >
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" x-on:click="closeCourtModal()">關閉</button>
                <button type="button" class="btn btn-primary" x-on:click="saveCourt()">儲存</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-body py-3 px-3">
                <div class="modal-title">是否要執行貼文和球館的自動配對？</div>
                <div class="text-end mt-4">
                    <a type="button" class="btn btn-primary fs-15px me-2" title="確認" x-on:click="confirmAutoMate();">確認</a>
                    <button type="button" class="btn btn-outline-secondary fs-15px" title="取消" data-bs-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:src="@{js/alpine.2.8.2.min.js}"></script>
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:inline="javascript">
      const postDTOList = /*[[${postDTOList}]]*/
      const courtData = /*[[${courtList}]]*/
      let passId;   // for edit
      let selectedPostIds = [];   //裝需要轉換成txt檔的文章
      let matePostIds = [];        //裝需要配對球館的貼文集
      let courtId;                //裝要配對的球館id
      let labelCourt = "All";             //放貼文加入球館的條件

      $(document).ready(function() {
        $('#labelCourt').on('change', function() {
          labelCourt = $(this).val();
        });
      });

        function loadData(eleData) {
          return {
            pageNumber: 0,
            size: 20,
            total: "",
            startDate: "",
            endDate: "",
            myForData: eleData,
            courtData: courtData,

            init() {
              const today = new Date();

              this.startDate = today.toISOString().split("T")[0];
              this.endDate = today.toISOString().split("T")[0];
            },
            getData() {
              const start = this.pageNumber * this.size,
                end = start + this.size;
              let filterData = this.myForData;
              this.total = filterData.length;
              return filterData.slice(start, end);
            },
            getCourtData (){
              return this.courtData;
            },
            pages() {
              return Array.from({
                length: Math.ceil(this.total / this.size),
              });
            },
            nextPage() {
              this.pageNumber++;
            },
            prevPage() {
              this.pageNumber--;
            },
            pageCount() {
              return Math.ceil(this.total / this.size);
            },
            viewPage(index) {
              this.pageNumber = index;
            },
            getItemNumber(index) {
              // 返回基於當前頁碼和每頁項目數的編號
              return this.pageNumber * this.size + index + 1;
            },
            search() {
              let _this = this;
              let data = {};
              let startDate = $("#startDate").val() + " 00:00:00";
              let endDate = $("#endDate").val() + " 23:59:59";
              let keyword = $("#keyword").val();
              data.startDate = startDate;
              data.endDate = endDate;
              data.keyword = keyword;
              data.labelCourt = labelCourt;
              $.ajax({
                url: "postSearch",
                type: "post",
                dataType: "json",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  _this.myForData = response.data;
                },
              });
            },
            edit(id){
              passId = id;
              $.ajax({
                url: "findPostById/" + id,
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  const post = response.data;
                  console.log(post)
                  $("#editName").val(post.name);
                  $("#editUserId").val(post.userId);
                  $("#editTime").val(post.startTime + " ～ " + post.endTime);
                  $("#editPlace").val(post.place);
                  $("#editFee").val(post.fee);
                  $("#editLevel").val(post.level);
                  $("#editBrand").val(post.brand);
                  $("#editParkInfo").val(post.parkInfo);
                  $("#editContact").val(post.contact);
                  $("#editAirConditioner").val(post.airConditioner);
                  $("#modalLabel").text('編輯貼文');
                  document.getElementById('editName').readOnly = true;
                  document.getElementById('editUserId').readOnly = true;
                  $("#editModal").modal('show');
                },
              });
            },
            deletePost(id){
              $.ajax({
                url: "deletePost/" + id,
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  alert('刪除成功')
                  location.reload();
                },
              });
            },
            save(){
              let data = {};
              data.id = passId;
              data.name = $("#editName").val();
              data.userId = $("#editUserId").val();
              data.place = $("#editPlace").val();
              let times = $("#editTime").val().split(" ～ ");
              data.startTime = times[0];
              data.endTime = times[1];
              data.fee = $("#editFee").val();
              data.level = $("#editLevel").val();
              data.brand = $("#editBrand").val();
              data.airConditioner = $("#editAirConditioner").val();
              data.parkInfo = $("#editParkInfo").val();
              data.contact = $("#editContact").val();
              $.ajax({
                url: "savePost",
                type: "post",
                dataType: "json",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  alert('儲存成功')
                  location.reload();
                },
              });
            },
            closeModal(){
              $("#editModal").modal('hide')
              passId = '';
              $("#editName").val('');
              $("#editUserId").val('');
              $("#editTime").val('');
              $("#editPlace").val('');
              $("#editFee").val('');
              $("#editLevel").val('');
              $("#editBrand").val('');
              $("#editParkInfo").val('');
              $("#editContact").val('');
              $("#editAirConditioner").val('');
              $("#modalLabel").text('');
              document.getElementById('editName').readOnly = false;
              document.getElementById('editUserId').readOnly = false;
            },
            closeCourtModal (){
              $("#courtName").val('');
              $("#courtAddress").val('');
              $("#courtLongitude").val('');
              $("#courtLatitude").val('');
            },
            searchSamePosts (){
              let _this = this;
              $.ajax({
                url: "searchSamePosts",
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  _this.myForData = response.data;
                },
              });
            },
            toggleSelectAll(event) {
              const isChecked = event.target.checked;
              const checkboxes = $('tbody input[type="checkbox"]');
              if (isChecked) {
                selectedPostIds = [];
                matePostIds = [];
                checkboxes.each((index, checkbox) => {
                  checkbox.checked = true;
                  selectedPostIds.push(checkbox.value);
                  matePostIds.push(checkbox.value);
                });
              } else {
                checkboxes.each((index, checkbox) => {
                  checkbox.checked = false;
                });
                selectedPostIds = [];
                matePostIds = [];
              }
            },
            update(event) {
              const checkbox = event.target;
              const value = checkbox.value;
              if (checkbox.checked) {
                if (!selectedPostIds.includes(value)) {
                    selectedPostIds.push(value);
                }
                if (!matePostIds.includes(value)){
                    matePostIds.push(value);
                }
              } else {
                selectedPostIds = selectedPostIds.filter(item => item !== value);
                matePostIds = matePostIds.filter(item => item !== value);
              }
            },
            deleteAllPosts (){
              if (selectedPostIds.length <= 0){
                alert('請選擇貼文')
                return;
              }
              $.ajax({
                url: "deleteAllPosts",
                type: "post",
                dataType: "json",
                data: JSON.stringify(selectedPostIds),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  alert('刪除成功！')
                },
              });
            },
            openCourtModal (){ //選擇要配對的球館
              $("#courtModal").modal('show');
            },
            chooseCourt (id, name){
              courtId = id;
              $("#choose_court_id").text('選擇的球館是：' + name + '(' + courtId + ')');
              $("#courtModal").modal('hide');
            },
            matePostsAndCourt (){
              if (matePostIds.length <= 0){
                alert('請勾選至少一個零打貼文')
                return;
              }
              if (courtId == ''){
                alert('請選擇球館')
                return;
              }
              let data = {};
              data.courtId = courtId
              data.matePostIds = matePostIds;
              $.ajax({
                url: "matePostsAndCourt",
                type: "post",
                dataType: "json",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  if (response.code == "C000"){
                    location.reload();
                  }
                },
              });
            },
            searchCourt (){
              let _this = this;
              let data = {};
              data.keyword = $("#courtKeyword").val();
              $.ajax({
                url: "searchCourt",
                type: "post",
                dataType: "json",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  if (response.code == "C000"){
                    _this.courtData = response.data;
                  }
                },
              });
            },
            openSaveCourtBtn (){
              $("#saveCourtModal").modal('show');
            },
            saveCourt (){
              let data = {};
              data.name = $("#courtName").val();
              data.address = $("#courtAddress").val();
              data.latitude = $("#courtLatitude").val();
              data.longitude = $("#courtLongitude").val();
              data.postId = "";
              $.ajax({
                url: "saveCourt",
                type: "post",
                dataType: "json",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  if (response.code == "C000"){
                    location.reload();
                  }
                },
              });
            },
            autoMate (){
              $("#infoModal").modal('show');
            },
            confirmAutoMate (){
              $.ajax({
                url: "autoMate",
                type: "post",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  if (response.code == "C000"){
                    $("#infoModal").modal('hide');
                    location.reload();
                  }
                },
              });
            },
            notMatchedPosts (){
              let _this = this;
              $.ajax({
                url: "notMatchedPosts",
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  if (response.code == "C000"){
                    _this.myForData = response.data;
                  }
                },
              });
            },
            issueFee (){
              let _this = this;
              $.ajax({
                url: "issueFee",
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  if (response.code == "C000"){
                    _this.myForData = response.data;
                  }
                },
              });
            },
          };
        };

        function openSaveModal(){
          $("#modalLabel").text('新增貼文');
          $("#editModal").modal('show');
        }


        function handleSelection(value) {
          switch (value) {
            case 'todayNewLeaders':
              todayNewLeaders();
              break;
          }
        }

        function clearKeyword() {
          $('#keyword').val('');
        }
    </script>
</body>
</html>
